#Database url 
MYSQL_DB_URL= #for local use only, when not using docker

# Database credentials
MYSQL_DB_NAME=
MYSQL_DB_USERNAME=
MYSQL_DB_PASSWORD=
MYSQL_ROOT_PASSWORD= #optional

#default admin credentials 
ADMIN_EMAIL=
ADMIN_PASSWORD=

#client api base url
VITE_API_DEV_BASE_URL= #http://localhost:8080
VITE_API_PROD_BASE_URL= #/api/
